<html>
<head>
    <title>Places I've Been</title>
</head>
<body>
    <h1>You added a place!</h1>
    <p>{{ newplace.getCity }}</p>
    <p><a href='/'>View your list of places you've visited.</a></p>
</body>
</html>
