<html>
<head>
    <title>Places I've Been</title>
</head>
<body>
    <h1>You added a place!</h1>
    <p>Location: {{ newplace.getCity }}</p>
    <p>Favorite Memory: {{ newplace.getMemory }}</p>
    <p>Duration of Stay: {{ newplace.getDuration }} nights</p>
    <!-- <img src="" alt="" /> -->
    <p><a href='/'>View your list of places you've visited.</a></p>
</body>
</html>
