<html>
<head>
    <title>Places</title>
</head>
<body>
    <h1>Places I've Been</h1>

    {% if places is not empty %}
        <p>Here are all of the places I have been:</p>
        <ul>
            {% for place in places %}
                <li>{{ place.getCity }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form enctype="multipart/form-data" action='/places' method='post'>
        <label for='city'>Enter name of city here:</label>
        <input id='city' name='city' type='text'>
        <br>
        <label for='image'>Upload a destination photo:</label>
        <input id='image' name='image' type='file'>
        <br>
        <label for='memory'>Describe your favorite memory:</label>
        <input id='memory' name='memory' type='text'>
        <br>
        <label for='duration'>Duration of stay (nights):</label>
        <input id='duration' name='duration' type='number'>
        <br>
        <button type='submit'>Add Place</button>
    </form>

    <form action='/delete_places' method='post'>
        <button type='submit'>Clear</button>
    </form>
</body>
</html>
